<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/julioberina">Julio Berina</a>. A Firehose student who is on a mission
    to finish the bootcamp and attain a career as a Ruby on Rails developer.
  </p>
  <br />
  <p>
    He has learned various languages starting from C++, and then Java, C#, Visual Basic, Python, Perl, Lisp, Clojure, Ruby, and a few others
    he doesn't remember before finally falling in love with Ruby.  Julio considers himself as a Rubyist rather than simply a Rails guy.
    When not doing Rails, he makes games using <a target="_blank" href="http://libgosu.org">Gosu</a>, which is a 2D game library for Ruby
    and C++ (but why use C++?).  On a few occasions, he also makes little desktop GUI applications in Ruby using
    <a target="_blank" href="http://shoesrb.com">Shoes</a>
  </p>
  <br />
  <p>
    In the future, Julio plans to learn <a target="_blank" href="http://artoo.io">Artoo</a>, a Ruby gem that allows you to code robots without
    having to use C!  Just beautiful Ruby code to program Arduinos, Raspberry Pis, Sphero, and various others!
  </p>
  <br /><br /><br />

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'julio.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Julio Berina</h2>
      <br />
      <p>
        Julio Berina is currently a college student from Cal Poly Pomona studying computer science
        with a minor in mathematics.  When not programming, he loves eating out, lifting weights, and engaging
        in online light-hearted trolling.
      </p>
    </div>
  </div>
  <br class="clear" />
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
