@font-face {
    font-family: 'attractiveregular';
    src: url('attractive-regular-webfont.woff2') format('woff2'),
         url('attractive-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'attractiveitalic';
    src: url('attractive-italic-webfont.woff2') format('woff2'),
         url('attractive-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
